.dark {
  background-color: #000;
}

.night-light-label {
  display: block;
  margin: 20px 0;
  height: 31px;
  width: 60px;
  border: 2px solid #4672fe;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.night-light-label #night-light-checkbox {
  position: absolute;
  visibility: hidden;
}

input[type=checkbox i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.night-light-label #night-light-checkbox:checked + .night-light-ball {
  transform: translateX(28px);
}

.night-light-label .night-light-ball {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  z-index: 99;
  transition: 300ms;
  background: #4672fe;
}

.moon-svg, .sun-svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sun-svg {
  left: 5px;
  filter: invert(1);
}

.moon-svg {
  right: 5px;
}